{% load i18n %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'pgp_user_profile' %}">
    <span class="glyphicon glyphicon-lock"></span>
    {% trans 'PGP settings' %}
</a></li>